@import "../../style/variables.scss";

.genre-tag {
  background: white;
  border: 1px solid $main-blue;
  padding: 8px 10px;
  border-radius: 20px;
  margin-right: 3px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include small-sizes-media() {
    padding: 5px 8px;
  }

  label {
    text-align: center;
    font-size: 15px;
    color: $main-blue;

    @include small-sizes-media() {
      font-size: 10px;
    }
  }
}
