@import "../../style/variables.scss";

.main-header {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 80px;

  background: $main-blue;
  color: $second-blue;

  h1 {
    font-size: 35px;
    text-align: center;
    font-weight: $light;
  }
}
